/* Written by Desu#9179 on Discord, and the-soulless on github*/

html {
    color: #000;
    background-color: #FFF;
}

a {
    color: #0F0;
}

p {
    color: #000;
}

button {
    color: #000;
    background-color: #FFF;
    border: 1px solid #000;
}

hr {
    color: #000;
}
