/* Written by Desu#9179 on Discord, and the-soulless on github*/ 
html {
    color: #000;
    background-color: #FFF;
}

a {
    color: #00F;
    text-decoration: underline;
}

p {
    color: #000;
}

button {
    border: 1px solid #000;
}

hr {
    color: #000;
}

#preview {
    border: 1px solid #000;
}

.close {
    color: #000;
}
.close:hover, .close:focus {
    color: #F00;
}

.bgImage {
    background: #FFF;
}

.subject { color: #000; }
.info    { color: #000; }
.redtext { color: #F00; }
.adminLogo { color: #F0F; }
.modLogo {  color: #F00; }
.userName { color: #000; font-weight:bold; }
.topSpacing { height: 40px; }
.arrow { color: #000; }
.redArrow { color: #F00; }

.boards {
    color: #00F;
    text-decoration: underline;
    border: 1px solid #000;
}

.catalog:hover {
    background: #777;
}

.modBtn {
    color: #00F;
    border: 1px solid #000;
}

#boardlist_background {
    background: #FFF;
}
#boardlist {
    border-right: 1px solid #000;
}

.post {
    border: 1px solid #000;
}
.op {
    border: 1px solid #000;
}

#login, #showLogin, #loggedIn {
    border: 1px solid #000;
    color: #000;
    background: #FFF;
}

#searchForm {
    color: #000;
    background: #FFF;
}

#showForm {
    border: 1px solid #000;
    color: #000;
    background: #FFF;
}

button {
    border: 1px solid #000;
    color: #000;
    background: #FFF;
}

input {
    border: 1px solid #000;
    color: #000;
    background: #FFF;
}

.banner {
    display: none;
}

.pageButton {
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
}   

